[Unit]
Description=koki key logger service

[Service]
WorkingDirectory=/home/peke/Documents/code/koki-app/logger
ExecStart=sudo ./logger
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target